.appContainer {
	max-width: 550px;
	width: 100%;
}
.appSection {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.main {
	padding: 35px 35px 55px 35px;
}
